---
layout: default
title: Neat Starter
path: home
---

{% include "./_includes/partials/navbar-pc.html" %}
<!-- carousel -->
{% for item in collections.carouselElements %}
<!-- Insert your carousel item here -->
{{ item.templateContent | safe }} {% endfor %}

<div
  class="container mx-auto lg:h-screen flex flex-col justify-center items-center"
>
  <h1>
    Welcome to
    <strong
      class="bg-clip-text text-transparent bg-gradient-to-r from-blue-500 to-purple-500"
    >
      {{title}}
    </strong>
  </h1>

  <p>
    <abbr title="netlify cms, eleventy, alpine js & tailwind css">NEAT</abbr>
    <code class="bg-gray-100 text-blue-800 p-1">/index.njk</code>
  </p>
</div>
