<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    {% for item in collections.carouselElements %}
    <li
      data-target="#carouselExampleIndicators"
      data-slide-to="{{ loop.index0 }}"
      {%
      if
      loop.first
      %}class="active"
      {%
      endif
      %}
    ></li>
    {% endfor %}
  </ol>
  <div class="carousel-inner">
    {% for item in collections.carouselElements %}
    <div class="carousel-item {% if loop.first %}active{% endif %}">
      <img
        src="{{ item.data.image | url }}"
        class="d-block w-100"
        alt="{{ item.data.alt }}"
      />
      <div class="carousel-caption d-none d-md-block">
        <h5>{{ item.data.caption }}</h5>
      </div>
    </div>
    {% endfor %}
  </div>
  <a
    class="carousel-control-prev"
    href="#carouselExampleIndicators"
    role="button"
    data-slide="prev"
  >
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a
    class="carousel-control-next"
    href="#carouselExampleIndicators"
    role="button"
    data-slide="next"
  >
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-onext">Next</span>
  </a>
</div>
